@model web_groupware.Models.MemoViewModel;
@{
    ViewData["Title"] = "伝言・電話メモ";
}

<div class="p-2 px-md-3 pb-md-3 pt-md-2 pb-0">
    <div class="container-fluid" id="root">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
                    <li class="breadcrumb-item active" aria-current="page">伝言・電話メモ （全て）</li>
                </ol>
            </nav>
        </div>

        @{
            await Html.RenderPartialAsync("_MemoBody", Model);
        }

    </div>
</div>

@section Scripts {
    <script>
        $("#filter_state").val(@Model.selectedState);
        $("#filter_user").val(@Model.selectedUser);
        $("#filter_keyword").val('@Model.keyword');
        var viewMode = '@ViewBag.ViewMode';
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Memo.js"></script>
    }
}