@model BasePreviewFileViewModel
@{
    ViewData["Title"] = "プレビュー";
    Layout = null;
}

<div class="container-fluid">
    @{
        var url = Url.Content("~/") + "Base/DownloadFile_stream?dic_cd=" + Model.dic_cd + "&dir_no=" + Model.dir_no + "&file_name=" + Model.file_name + "#toolbar=0&navpanes=0";
    }
    <iframe id="Base_PreviewFile" src="@url" style="width: 100%; height: 100%;" style="object-fit:contain;"></iframe>
</div>

<script type="text/javascript" src="~/lib/jquery/jquery-3.7.1.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(function () {
        $("#Base_PreviewFile").on("load", function () {
            $("#Base_PreviewFile").contents().find('img').css("object-fit", "contain");
            $("#Base_PreviewFile").contents().find('img').css("width", "100%");
            $("#Base_PreviewFile").contents().find('img').css("height", "100%");
        });
    });
</script>