@model web_groupware.Models.CreateViewModel

@{
    ViewData["Title"] = "社員グループマスタ（登録）";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box page-title-box-alt">
                <h4 class="page-title">@Model.GroupStaff.group_name にメンバー追加</h4>
            </div>
        </div>
    </div>
    <div class="card" style="">
        <div class="card-body">
            <form asp-controller="EmployeeGroup" asp-action="Create" class="form-box">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <table class="table datatables-search">
                        <thead class="thead-dark">
                            <tr>
                                <th width="1%">
                                    <input type="checkbox" id="selectAllFile">
                                </th>
                                <th>従業員名</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var staff in Model.StaffList)
                            {
                                <tr>
                                    <td class="datatable_td_checkbox">
                                        <input type="checkbox" name="SelectedStaffIds" value="@staff.staf_cd" class="form-check-input selectFile">
                                        <input type="hidden" name="SelectedStaffIds" value="false" />
                                    </td>
                                    <td>@staff.staf_name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <span asp-validation-for="SelectedStaffIds" class="text-danger"></span>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a asp-controller="EmployeeGroup" asp-action="GetDetails" asp-route-id="@Model.GroupStaff.group_cd" class="btn btn-primary">戻る</a>
                    </div>
                    <div class="col text-end">
                        <button type="submit" class="btn btn-primary">登　録</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/EmployeeGroup.js" asp-append-version="true"></script>
    }
}

