/*.fileAreaHeightWidth {
    min-width: 92px;
    max-width: 92px;
}
*/
.fileAreaInnerWidth {
    min-width: 80px;
    max-width: 80px;
}

#drag_area.drag-over {
    background-color: #edf4f0;
    border-color: #00836b;
}

#drag_area {
    border: 3px dotted #adadad;
}

.fileAreaInnerWidth .dropdown-item {
    padding: 0px;
}

.dropdown-item:hover {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}
