/*main {
    font-size: 10px;
}
*/
#wrapper_table {
/*    overflow-x: scroll;
*/    /*max-height: 50vh;
*/}

table {
    border-collapse: separate;
    border-spacing: 0px;
}

#wrapper table th,
#wrapper td {
    min-width: 50px;
}

.spicial_col_row {
    z-index: 10 !important;
}

.row_1 {
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
    top: 0;
    background-color: white;
}

.col_1,
.col_2,
.col_3,
.col_4 {
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
    background-color: white;
}

.col_1 {
    left: 0px;
}

.col_2 {
    left: 98px
}

.col_3 {
    left: 172px;
}

.col_4 {
    left: 380px;
}


.row_1 {
    top: 0;
}

.row_1 {
    z-index: 3;
}

tr {
    background-color: white !important;
}
