<div id="modal-accept" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="title">確認</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>承認を確定します。よろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x"></i> いいえ
                </button>
                <button type="button" class="btn btn-success" onclick="onAccept()">
                    <i class="bi bi-check"></i> はい
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function onAcceptModal() {
        $('#modal-accept').modal('show');
    }

    function onAccept() {
        $("#is_accept").val(1);
        $('#comment').rules('remove', 'required');
        $('.loading').show();
        $("#workFlowForm").submit();
    }
</script>

